<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881333074318-pfqqn10uq5pvusa7g1tuseo80i8m8p20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881333074318-pfqqn10uq5pvusa7g1tuseo80i8m8p20</string>
	<key>API_KEY</key>
	<string>AIzaSyDKOgCCG0bBftlXfrkYssR8J_yHfrdOg-w</string>
	<key>GCM_SENDER_ID</key>
	<string>881333074318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clothing.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>voguevoyage27</string>
	<key>STORAGE_BUCKET</key>
	<string>voguevoyage27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881333074318:ios:623524a5ccf900992cccdf</string>
</dict>
</plist>